#content-header-all-post {
    position: relative;
}

.count-topics {
    left: 13px;
    position: absolute;
    font-size: 14px;
    top: 15px;
    background: #ff4737;
    padding: 6px 10px;
    border-radius: 6px;
}

/*pagination*/
.page li a {
    border: 1px solid #efefef;
    border-radius: 50%;
    padding: 10px;
    width: 42px;
    height: 42px;
    font-size: 18px;
    transition: background 1s;
    margin-left: 7px;
}

.page li a:hover {
    background: #ff0000;
}

.page li:hover a {
    color: #ffffff;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-right: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-left-radius: 50%!important;
    border-bottom-left-radius: 50%!important;
}
