/*course-header*/
.course-landing-layer {
    background: url("../../../img/course-header.jpg") no-repeat center center/cover;
    min-height: 250px;
    border-bottom: 5px solid #ff3539;
}

.course-landing-layer h1 {
    padding-top: 72px;
    font-size: 28px;
    font-weight: bold;
}

.course-landing-layer h1 a {
    color: #fff;
}

.course-landing-layer h1 a:hover {
    color: #d4d3ff;
}

.course-landing-layer h1 a i {
    color: #fff;
    font-size: 60px;
    vertical-align: -18px;
    margin-left: 11px;
}

#course-landing-layer-container {
    padding: 0;
    text-align: center;
    text-shadow: 1px 4px 7px #000;
}

.course-detail-title {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #efefef;
    padding: 10px 18px;
}

.course-detail-title i {
    font-size: 38px;
    vertical-align: -15px;
    margin-left: 5px;
    color: #ff8b8b;
}

.nav-tab-course li {
    width: 33%;
}

.nav-tab-course li a {
    text-align: center;
    font-size: 16px !important;
}

.course-parts {
    padding: 0;
}

.course-parts li {
    counter-increment: step-counter;
    margin-bottom: 10px;
    border: 1px solid #efefef;
    padding: 10px;
    border-radius: 3px;
    transition: 50ms;
}
.course-parts li:hover{
    padding-right: 13px;
    background: #f7f7f7;
    cursor: pointer;

}
.course-parts li::before {
    content: counter(step-counter);
    margin-left: 15px;
    font-size: 16px;
    background: #1ac741;
    color: #ffffff;
    font-weight: bold;
    padding: 1px 8px;
    border-radius: 3px;
}
.part-duration{
    float: left;
    background: #f9f9f9f9;
    padding: 0 13px;
    color: #8285ff;
    font-size: 13px;
    border-bottom: 1px solid #8285ff;
    border-radius: 3px;
}
#students-name li{
    border: 1px solid #efefef;
    padding: 0px 10px;
    border-radius: 5px;
    background: #ffa2a2;
    color: #fff;
    border-bottom: 3px solid #ff2f2f;
    margin-bottom: 20px;
}
/*course detail sidebar*/
#course-detail-sidebar,#teacher-resume,#prerequisite-course{
    padding: 25px 10px 15px 15px;
}
#course-detail-sidebar p,#teacher-resume p,#prerequisite-course p{
    text-align: center;
    padding: 6px 0 15px 0;
    margin: 0 33px;
    font-size: 16px;
    font-weight: bold;
    color: #565656;
    border-bottom: 1px solid #efefef;
}
#course-detail-sidebar ul li span{
    float: left;
}
.course-status,.course-start-time{
    color: #08d008;
}
#course-detail-sidebar ul {
    padding-top: 15px;
    line-height: 37px;
    font-size: 14px;
    font-weight: bold;
    color: #565656;
}
#course-detail-sidebar ul li i{
    vertical-align: -10px;
    font-size: 27px;
    margin-left: 5px;
    color: #b19cff;
}
.course-discount{
    background: #f00;
    text-align: center;
    padding: 8px 0;
    margin: 0 60px 28px;
    border-radius: 9px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
.course-price{
    text-align: center;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #8896ff;
}
.main-price{
    margin-left: 12px;
    color: #ff0003;
}
#teacher-resume,#prerequisite-course{
    margin-top: 20px;
}
.course-teacher{
    margin: 17px 0;
}
.course-teacher img{
    margin: 0 auto;
    box-shadow: 0px 1px 7px #7d7d7d;
}
.course-teacher-name{
    font-weight: bold;
    font-size: 15px;
}
.about-teacher,.prerequisite{
    line-height: 32px;
    text-align: justify;
    margin-top: 15px;
    display: block;
}
.sessions-single-header{
    font-size: 21px;
    font-weight: bold;
    color: #555;
}
.course-parts.sessions-single li.active{
    background: #b6e8ff;
}
.course-parts.sessions-single li{
    display: flex;
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #555;
}
.course-parts.sessions-single li >a{
    color: #555;

}
.course-parts.sessions-single li::before{
    height: 21px;background: #009de4;
}
.course-parts.sessions-single li:hover {
    padding-right: 10px;
    cursor: pointer;
}
.course-alert i{
    font-size: 23px;
    vertical-align: -5px;
    color: #0078af;
}