.newletter-title{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 18px;
}
#newsletter-section{
    background-image: url("../../../img/news-pattern-bg.png"),  linear-gradient(to right, #05e6aa,#1cbdf9);
    padding: 25px;
}
