#profile-content {
    margin: 0;
    padding: 0;
}

#profile-content h3 {
    border-bottom: 1px solid #efefef;
    margin: 0;
    padding: 17px 10px;
    background: #f2f2f3;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #4b4b4b;
}

.profile-img-holder, #profile-course-list, #profile-user-tickets, #profile-user-all-tickets, #profile-user-transaction {
    padding: 30px;
}

.profile-img-holder img {
    box-shadow: 0px 0px 6px #a5a4a4;
    padding: 6px;
}

#profile-form input {
    padding: 0 45px;
}

#tab-divider {
    border-right: 1px solid #f1f0f0;
}

#profile-course-list li {
    line-height: 41px;
    font-size: 16px;
    border: 1px solid #efefef;
    padding: 15px 7px;
    border-radius: 3px;
    margin-bottom: 12px;
    transition: padding-right .8s;
}

#profile-course-list li:hover {
    padding-right: 12px;
    background: #fdfdfd;
}

#profile-course-list li i {
    font-size: 34px;
    vertical-align: -11px;
    margin-left: 5px;
    color: #ff9999;
}

.custom-panel-collapse {
    padding: 30px 15px;
}

.sender-ticket-image {
    border: 2px solid #c6c6c6;
    padding: 2px;
    margin-left: 10px;
}

.ticket-details-wrapper {
    position: relative;
}

.send-answer-ticket {
    position: absolute;
    left: 0px;
    top: 12px;
}

.ticket-text {
    border-bottom: 1px solid #efefef;
    margin-bottom: 20px;
}

.ticket-text p {
    padding: 14px;
    line-height: 34px;
    text-align: justify;
}

.ticket-no {
    float: left;
    color: #c200ff;
    font-weight: bold;
    font-size: 15px;
}

#user-transaction-table tbody tr, th, td {
    text-align: center;
}

#profile-nav li i {
    font-size: 24px;
    vertical-align: -7px;
    margin-left: 5px;
    color: #a3a8ec;
}

.tabs-left > li.active > a i,
.tabs-left > li.active > a:focus i {
    color: #fff !important;
}

.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus {
    border-bottom-color: #ddd;
    border-left-color: transparent;
    background: #22A7F0;
    border: none;
    border-radius: 0px;
    margin: 0px;
}

.tabs-left > li.active > a,
.tabs-left > li.active > a:focus {
    color: #fff;
}

.tabs-left > li.active > a::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #22A7F0;
    display: block;
    z-index: 999;
    width: 0;
}

#profile-menu {
    padding: 0;
}

.tabs-left li {
    width: 100%;
}

.tabs-left > li > a:hover, .tabs-left > li > a:focus {
    border-color: transparent;
}

.tabs-left > li > a {
    margin: 0;
    border: 1px solid transparent;
    border-radius: 0;
}

.tabs-left {
    border-bottom: none;
}
.lod{
    position: absolute;
    width: 96%;
    height: 100%;
    background: #9494947a;
    z-index: 9999;
    display: none;
}
.lod p{
    text-align: center;
    font-size: 2em;
    vertical-align: 64px;
    margin-top: 23%;
}