#custom-slider-info-container {
    margin-top: 70px;
}

#info-section {
    position: relative;

}
.info-title-section {
    border-radius: 9px 0 0 0;
    position: absolute;
    top: -37px;
    right: 17px;
    background: #ff9800;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
}

.info-title-section i {
    vertical-align: -8px;
    color: #fff;
    margin-left: 5px;
    font-size: 26px;
}

.info-text {
    border: 1px solid #f9f9f9;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 15px;
    text-align: justify;
    height: 104px;
}

.info-date {
    float: left;
    font-size: 12px;
    color: #99c6ff;
}

.info-date i {
    vertical-align: -5px;
    margin-right: 5px;
    color: #99c6ff;
    margin-top: 40px;
}

.info-box {
    padding: 10px 0;
    background: #fff;
    margin: 0 10px;
}
.carousel-indicators {
    bottom: 5px;
    left: 60px;
}
#custom-carousel-inner {
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0px #efefef;
}