#social-container {
    border-bottom: 1px solid #cecece;
}

.ticker ul li {
    width: 100%;
    display: none;
    /*top:18px!important;
    left: -30px!important;*/
    padding: 17px 12px;
}

ul.social-icon {
    margin: 12px 20px;
}

ul.social-icon li {
    padding: 0;
}

#topbar-link {

    margin: 15px 0;
}

#topbar-link i {
    vertical-align: -6px;
    color: #19B5FE;
}

#topbar-link a {
    color: #58535a;
}

#navbar-custom {
    background-color: #446CB3;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin: 0;
    border: none;
}

#navbar-custom .navbar-nav > li > a {
    color: #fff;
}

#navbar-custom .navbar-nav > .active > a, #navbar-custom .navbar-nav > .active > a:hover, #navbar-custom .navbar-nav > .active > a:focus {
    color: #b5ff00;
    background-color: transparent;
    border-bottom: 2px solid #b5ff00;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #405780 !important;
}



@media (min-width:768px ) {
    .navbar-default .navbar-nav  .dropdown-menu {
        min-width: 240px;
        padding: 0;
    }
    #bs-example-navbar-collapse-1 > ul > li.dropdown > ul > li.dropdown  ul{
        right: 100%;
        top: 0;
    }
}
@media (max-width: 768px){
    .navbar-default .navbar-nav  .dropdown-menu {
        width: 100%;
        position: inherit;
    }
    #bs-example-navbar-collapse-1 > ul > li.dropdown > ul > li.dropdown  ul{
      position: inherit;
        width: 95%;
        margin: 10px;
        box-sizing: border-box;
    }
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    font-style: 16px;
    text-decoration: none;
    background-color: #dfebff;
}
.dropdown-menu > li > a {
    display: block;
    padding: 10px 20px;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    border-bottom: 1px solid #dfebff;
}
.dropdown-menu > li:last-child > a{
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    border-bottom: none;
}

#bs-example-navbar-collapse-1 > ul > li.dropdown > ul > li.dropdown  ul a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.top-menu-arrow-down{
    vertical-align: -7px;
}
.top-menu-arrow-left{
    float: left;
    color: #555;
}